figure {
    position: relative;
  }

  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 11em;
    height: 4em;
    margin: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  figure:hover figcaption {
    opacity: 1;
  }


