
.reveal {
    position: relative;
    opacity: 0;
  }

  .reveal.active {
    opacity: 1;
  }

  .active.fade-left.first{
    animation: fade-left 2s ease-in ;
  }
  .active.fade-left.second{
    animation: fade-left 1.5s ease-in ;
  }
  .active.fade-left.third{
    animation: fade-left 1s ease-in ;
  }


  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform : translateX(0);
        opacity: 1;
    }
  }