  .blured-3 {
    animation: blured-3 2s ease-in;
  }
  
  @keyframes blured-3 {
    0% {
      transform: translateX(-50px);
      opacity: 0;
      filter: blur(1.5rem);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
      filter: blur(0);
    }
  }


  