/* body {
    background: linear-gradient(-45deg,#422419, #4c0000, #011923 ,#3b1703, #01241c,rgb(43, 3, 10) );
    background-size: 600% 100%;
    animation: gradient 15s linear infinite;
    animation-direction: alternate;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

html {
    scroll-behavior: smooth;
} */



