/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    display: flex;
    width: 27px;
    height: 24px;
    right: 30px;
    top: 34px;
  }

  /* Color/shape of burger icon bars */
.bm-burger-bars {
    background: var(--hero-title);
    border-radius: 1rem;
    animation: blured-2 1.5s ease-in;
  }

@keyframes blured-2 {
  0% {
    opacity: 0;
    filter: blur(1.5rem);
    transform: translateX(50px);

  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}


.bm-cross-button {
    width: 24px;
    height: 24px;
}

  /* Color/shape of close button cross */
  .bm-cross {
    background:  var(--hero-title);
  }

  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }

  /* General sidebar styles */
  .bm-menu {
    background: var(--bg-app);
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }


  /* Wrapper for item list */
  .bm-item-list {
    color: rgb(30 41 59);
    margin: auto;
    width: max-content;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
    color:var(--nav-text) 
  }

  .bm-item:hover {
    color: var(--nav-text-hover)
  }

  /* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  .sidebar-links {
    color: var(--sidebar);
  }